/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toast-position {
  position: fixed;
  top: 20px;
  right: 20px;
}
